* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    width: 420px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

.link-btn {
    display: block;
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    font-weight: 600;
}

.link-btn:hover {
    background: #1e40af;
}

/* TABLE */
.table-card {
    background: #fff;
    width: 90%;
    max-width: 900px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2563eb;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f3f4f6;
}
table a {
    color: #dc2626;
    font-weight: 600;
}

table a:hover {
    text-decoration: underline;
}
